<div class="page-header"><h2><%=i18n 'pages.edit', model: User, scope: :view %></h2></div>

<div class="row">
	<div class="col-md-10 col-md-offset-0">
		<%= bootstrap_horizontal_form_for @user, url: backend_user_path(@user) do |f| %>
			<%= render partial: 'form', locals: { f: f } %>
		<% end %>
	</div>
</div>
